/* Profile.css */


.file-input {
    display: none;
  }
  
  /* Style the custom button */
  .file-input-btn {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #25D366; /* WhatsApp green color */
    color: white;
    font-size: 24px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    line-height: 40px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    position: relative;
    top: 119px;
    left: 60px;
  }
  
  .file-input-btn:hover {
    background-color: #128C7E;
  }
  
  .file-input-wrapper {
    position: relative;
  }
  
  
  img {
    margin-top: 10px;
    max-width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  